# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ASP.netCoreWebAppMVC.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Works\Raider\ASP.netCoreWebAppMVC\ASP.netCoreWebAppMVC\.idea\.idea.ASP.netCoreWebAppMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
